.component {
  display: block;
  position: relative;
  /* width: 100%; */
  height: 1000vh;
  padding: 15vw 0 20vw;
}

.component .sticky {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  mix-blend-mode: lighten;
  width: 100%;
}

.sticky .eye {
  height: 100%;
  /* opacity: .8; */
  position: absolute;
  width: 100vw;
}

.sticky .eye .canvas {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  will-change: transform;
}

.sticky .eye .top {
  background: linear-gradient(180deg, #0a0d3a, rgba(12, 8, 96, 0));
  content: "";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010529",endColorstr="#010529",GradientType=1);
  height: 20vw;
  left: 0;
  position: absolute;
  top: -0.042vw -1.28268px;
  width: 100%;
  z-index: 1;
}

.sticky .eye .bottom {
  background: linear-gradient(0deg, #0a0d3a, rgba(1, 5, 41, 0));
  bottom: 0;
  content: "";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010529",endColorstr="#010529",GradientType=1);
  height: 20vw;
  left: 0;
  position: absolute;
  top: auto;
  width: 100%;
  z-index: 0;
}

.container {
  margin: auto;
  max-width: 100%;
  padding: 0 0.833vw;
  position: relative;
  width: 80vw;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0.417vw * -1);
  margin-right: calc(0.417vw * -1);
  row-gap: 0.833vw;
}

.columns .item {
  padding-left: 0.417vw;
  padding-right: 0.417vw;
  position: relative;
}

.columns .item .supertitle {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    90deg,
    #f9453f,
    #fa9b26 22.5%,
    #2ee76f 45%,
    #18e1f3 67.5%,
    #3f0085 90%
  );
  -webkit-background-clip: text;
  background-size: 400% 100%;
  color: #fbfafe;
  text-align: center;
  font-size: 7.083vw;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 0.82;
  position: relative;
}

.supertitle.small {
  font-size: 7.083vw;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 0.82;
}
